.main-content {
  padding-top: 80px;
}
body {
  background-color: #f7f7f7;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hero-button button {
  color: #fff;
  background-color: #46c054;
  font-size: 16px;
  border: none;
  border-radius: 0;
  width: 140px;
  height: 40px;
  padding: 0 32px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.hero-button button:hover {
  background-color: #3FAD4C;
  transition: 0.2s;
}
.hero-button .ghost-btn {
  border: 1px solid white;
  background-color: transparent;
}
.hero-button .ghost-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.mainContent {
  background-color: #f7f7f7;
}
#mhNewFooter {
  margin-top: 0;
}
.pricing-table {
  margin-top: 70px;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  .pricing-table {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  i.mdi.mdi-help-circle.m-blueText {
    padding-right: 12px;
  }
}
@media screen and (min-width: 737px) {
  .pricing-table-mobile {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  .pricing-table-mobile .pricing-table-card {
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .pricing-table-mobile .pricing-table-card .mobile-header {
    padding: 20px 15px;
  }
  .pricing-table-mobile .pricing-table-card .mobile-header h2 {
    font-weight: 300;
    font-size: 24px;
    color: #212121;
  }
  .pricing-table-mobile .pricing-table-card .mobile-header .small {
    font-weight: 300;
    font-size: 16px;
    color: #212121;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: center;
    padding-top: 8px;
  }
  .pricing-table-mobile .pricing-table-card .mobile-price {
    background: #f7f7f7;
    height: 130px;
    padding: 20px;
  }
  .pricing-table-mobile .pricing-table-card .mobile-price h1 {
    font-size: 48px;
    color: #212121;
    text-align: center;
  }
  .pricing-table-mobile .pricing-table-card .mobile-price p {
    font-size: 11px;
    font-weight: 300;
    color: #212121;
    text-align: left;
    width: 99px;
  }
  .pricing-table-mobile .pricing-table-card .hero-button button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pricing-table-mobile .pricing-table-card .feature {
    padding: 0px 25px 20px;
  }
  .pricing-table-mobile .pricing-table-card .feature p {
    color: #212121;
    font-size: 16px;
    margin-top: 12px;
  }
  .pricing-table-mobile .pricing-table-card .feature ul {
    padding-left: 22px;
  }
  .pricing-table-mobile .pricing-table-card .feature li {
    font-size: 14px;
    color: #757575;
    line-height: 24px;
    text-align: left;
    list-style: disc;
  }
  .pricing-table-mobile .pricing-table-card .feature p.post-feat {
    color: #642891;
    font-weight: 500;
  }
  .pricing-table-mobile .pricing-table-card .feature .checkbox {
    display: inline-block;
  }
}
.container.pricing-page {
  margin: 30px auto;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  .container.pricing-page {
    width: 100%;
  }
}
.container.pricing-page a.back {
  font-size: 16px;
  color: #008abd;
}
p {
  color: #212121;
  font-weight: 400;
}
.m-greenText {
  color: #46c054;
}
.m-blueText {
  color: #00aff0;
}
.hero-button button.btn.btn-primary.m-blue {
  background-color: #00aff0;
}
.hero-button {
  padding: 0 6px!important;
}
.hero-button.pricing button {
  margin: 7px 4px 12px 4px;
  font-size: 14px;
  width: 130px;
  height: 50px;
  padding: 0 15px;
}
@media screen and (min-width: 990px) and (max-width: 1201px) {
  .hero-button.pricing button {
    width: 110px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 9.333333% !important;
  }
}
@media (min-width: 768px) and (max-width: 1201px) {
  .col-sm-2 {
    width: 19.666667%;
  }
}
div.features,
div.pricing {
  padding-left: 0;
}
.hero-button.features button {
  margin-top: 20px;
  font-size: 14px;
  width: 100px;
  padding: 0 15px;
  margin-bottom: 0;
}
.p-label {
  font-size: 20px;
  color: #212121;
  font-weight: 400;
  position: relative;
  top: 50px;
}
.p-table {
  min-height: 58px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
  padding: 15px 0 0;
  cursor: pointer;
}
.p-table p {
  font-size: 16px;
  color: #212121;
  font-weight: 400;
}
.p-table p.features {
  font-size: 16px;
  font-weight: 400;
}
.p-table p.features i.mdi.mdi-chevron-right,
.p-table p.features span.mdi.mdi-plus,
.p-table p.features span.mdi.mdi-minus {
  position: absolute;
  padding-left: 4px;
}
@media screen and (min-width: 737px) and (max-width: 989px) {
  .p-table p.features {
    font-size: 14px;
  }
}
.p-table:after {
  clear: both;
}
ul.feat-info {
  font-size: 14px;
  display: none;
  color: #757575;
  font-weight: 400;
}
ul.feat-info li {
  padding: 0px 0 15px;
}
p.feat-info-close {
  text-align: center;
  color: #00aff0;
  font-size: 10px;
  font-weight: 500;
  display: none;
}
.bolding {
  color: #212121;
  font-weight: 500;
}
.price-desc p {
  margin: 30px 0;
  font-size: 20px;
}
@media screen and (max-width: 680px) {
  .price-desc p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #212121;
  }
}
.pricing-header {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  padding: 2px 0;
  margin: 2px 0;
}
@media screen and (max-width: 680px) {
  .pricing-header {
    font-size: 24px;
    text-align: center;
    color: #212121;
  }
}
.show {
  display: block;
}
.l-demand {
  text-transform: uppercase;
  font-weight: 500;
  color: #46c054;
}
@media screen and (max-width: 680px) {
  .l-demand {
    font-size: 16px;
  }
}
.hero-button button.rec-button {
  background-color: #FF9430;
}
.hero-button button.rec-button-mobile {
  background-color: #FF9430;
  padding: 0 12px;
  margin: 0;
  height: 35px;
  position: relative;
  top: -14px;
}
.rec-text {
  color: #FF9430;
}
.red-hot {
  color: #f00000;
}
.disclaimer {
  font-size: 12px;
  font-style: italic;
}
p.price {
  color: #000;
}
.social-grid h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.social-grid p.power {
  font-size: 18px;
  color: #757575;
  margin-top: 10px;
}
.social-grid p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  margin-top: 10px;
}
.social-grid .col-lg-1,
.social-grid .col-lg-10,
.social-grid .col-lg-11,
.social-grid .col-lg-12,
.social-grid .col-lg-2,
.social-grid .col-lg-3,
.social-grid .col-lg-4,
.social-grid .col-lg-5,
.social-grid .col-lg-6,
.social-grid .col-lg-7,
.social-grid .col-lg-8,
.social-grid .col-lg-9,
.social-grid .col-md-1,
.social-grid .col-md-10,
.social-grid .col-md-11,
.social-grid .col-md-12,
.social-grid .col-md-2,
.social-grid .col-md-3,
.social-grid .col-md-4,
.social-grid .col-md-5,
.social-grid .col-md-6,
.social-grid .col-md-7,
.social-grid .col-md-8,
.social-grid .col-md-9,
.social-grid .col-sm-1,
.social-grid .col-sm-10,
.social-grid .col-sm-11,
.social-grid .col-sm-12,
.social-grid .col-sm-2,
.social-grid .col-sm-3,
.social-grid .col-sm-4,
.social-grid .col-sm-5,
.social-grid .col-sm-6,
.social-grid .col-sm-7,
.social-grid .col-sm-8,
.social-grid .col-sm-9,
.social-grid .col-xs-1,
.social-grid .col-xs-10,
.social-grid .col-xs-11,
.social-grid .col-xs-12,
.social-grid .col-xs-2,
.social-grid .col-xs-3,
.social-grid .col-xs-4,
.social-grid .col-xs-5,
.social-grid .col-xs-6,
.social-grid .col-xs-7,
.social-grid .col-xs-8,
.social-grid .col-xs-9 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.social-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}
.g-box {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-height: 300px;
  margin-bottom: 12px;
}
.g-social-media {
  background: #ec8b19;
}
.g-jobs {
  background: #1695a3;
}
.g-res {
  background: #225378;
}
.g-job-search,
.g-profiles {
  background: #00aff0;
}
.g-monster {
  background: #fff;
}
.g-visitor {
  background: #1695a3;
}
.g-network {
  background: #225378;
}
.g-blank {
  background: rgba(235, 127, 0, 0.89);
}
.power-monster {
  margin: 35px 0px 0;
}
@media screen and (max-width: 990px) {
  .power-monster {
    margin: 4px 0 0;
  }
}
h1.mon-txt {
  color: #212121;
  position: relative;
  top: 30px;
}
.m-img {
  margin-right: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.social-content {
  padding: 15px;
}
.hero-button button.pkg-deets {
  width: 130px;
  margin-left: -6px;
}
p.features.post-feat {
  color: #642891;
  font-weight: 500;
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border: 2px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.checkbox:checked:before {
  content: "";
  position: absolute;
  z-index: 1;
  border: 2px solid transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 13px;
  height: 6px;
  margin-left: 4px;
  margin-top: 6px;
  border-color: #46c054;
  border-width: 2px;
  border-top-style: none;
  border-right-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
p.allHeader {
  font-size: 24px;
  color: #757575;
  padding-left: 4px;
}
@media screen and (min-width: 737px) and (max-width: 989px) {
  p.allHeader {
    font-size: 20px;
  }
}
.p-table.all {
  padding: 20px 0;
}
.all-mdi {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
.duration {
  font-size: 12px;
}
p.all-price {
  font-size: 45px;
}
@media screen and (min-width: 1200px) {
  .hero-button.pricing button.purchase {
    margin-left: -24px;
  }
}
@media screen and (min-width: 990px) and (max-width: 1199px) {
  .hero-button.pricing button.purchase {
    margin-left: 10px;
  }
}
@media screen and (min-width: 737px) and (max-width: 989px) {
  .hero-button.pricing button.purchase {
    margin-left: -10px;
    margin-top: 10px;
  }
}
.all ul li {
  font-size: 16px;
}
@media screen and (min-width: 737px) and (max-width: 989px) {
  .all ul li {
    font-size: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  span.header-mobile {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .col-xs-offset-2 {
    margin-left: 9.666667% !important;
  }
}
