.main-content {
  padding-top: 80px;
}
.navbar-fixed-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  height: 80px;
}
.navbar-brand img {
  height: 40px;
}
.navbar-nav {
  float: right;
}
body {
  background-color: #f7f7f7;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav_sub {
  will-change: transform;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav--active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__item:hover {
  opacity: 0.8;
}
.nav__item:hover:focus {
  background: red;
}
.nav__thumb {
  display: block;
  height: 80px;
  background: #dc143c;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__label {
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  display: block;
  margin: auto;
  line-height: 80px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__label:hover {
  text-decoration: none;
}
@media (max-width: 850px) {
  .nav__label {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .nav__label {
    display: none;
  }
  .nav__thumb {
    height: 90px;
  }
  .nav__thumb:before {
    font-size: 32px;
    opacity: 0.7;
  }
}
.page {
  height: 500px;
  will-change: transform;
  -webkit-perspective: 400px;
  perspective: 400px;
  overflow: hidden;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.section {
  will-change: transform;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  text-align: left;
  background: #fff;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.section--hidden {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.section--active {
  -webkit-transform: translateX(0) rotateY(0);
  transform: translateX(0) rotateY(0);
  z-index: 2;
}
.section__wrapper {
  color: #fff;
  margin-left: 135px;
  width: 700px;
}
@media only screen and (max-width: 900px) {
  .section__wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 585px) {
  .section__wrapper h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 416px) {
  .section__wrapper h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 375px) {
  .section__wrapper h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 425px) {
  .section__wrapper {
    width: 100%;
    margin: 0 15px;
  }
}
.section__wrapper p {
  font-size: 18px;
  font-weight: 300;
}
@media only screen and (max-width: 425px) {
  .section__wrapper p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
  }
}
.section__title {
  margin: 0 0 4px 0;
  font-size: 54px;
  line-height: 64px;
  font-weight: 400;
}
@media only screen and (max-width: 425px) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
  }
}
.section__subtitle {
  margin: 0 0 4px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
@media only screen and (max-width: 425px) {
  .section__subtitle {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
  }
}
.section p:last-child {
  margin-bottom: 0;
}
.stats-row {
  margin-top: -20px;
}
.stats-row .stats {
  color: #757575;
  padding-bottom: 8px 0;
  background: #fff;
}
@media (max-width: 476px) {
  .stats-row .stats {
    font-size: 16px;
    height: 80px;
  }
}
.stats-row .stats h2 {
  color: #212121;
}
@media (max-width: 426px) {
  .stats-row .stats h2 {
    font-size: 16px;
  }
}
.stats-row .stats h5 {
  padding-bottom: 4px;
}
@media (max-width: 426px) {
  .stats-row .stats h5 {
    font-size: 12px;
    font-weight: 300;
  }
}
.stats-row .stats:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}
.progressflow {
  padding-bottom: 40px;
}
.progressflow img {
  margin: auto;
  display: block;
  width: 80px;
  padding-bottom: 20px;
}
.progressflow h3 {
  text-align: center;
}
.progressflow p {
  text-align: center;
  line-height: 24px;
  color: #757575;
  font-size: 16px;
  padding: 10px;
}
.color1 {
  background: #009ed8;
}
.color2 {
  background: #00aff0;
}
.logo {
  position: fixed;
  top: 195px;
  right: 7px;
  z-index: 2;
}
@media (max-width: 720px) {
  .logo {
    top: 160px;
  }
}
.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
  transform: rotate(180deg) scale(1.1);
}
.talent {
  background: url("../img/talents.jpg") no-repeat center center;
  background-size: cover;
}
.postjob {
  background: url("../img/postjob.jpg") no-repeat center center;
  background-size: cover;
}
.brand {
  background: url("../img/talents.jpg") no-repeat center center;
  background-size: cover;
}
.solution {
  background: url("../img/service.jpg") no-repeat center center;
  background-size: cover;
}
@media only screen and (max-width: 425px) {
  .hero-button {
    width: 100%;
    margin: 10px 0;
  }
}
.hero-button a {
  color: #fff;
  background-color: #46c054;
  font-size: 16px;
  line-height: 40px;
  border: none;
  border-radius: 0;
  width: 140px;
  height: 40px;
  padding: 0 32px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.hero-button a:hover {
  background-color: #3FAD4C;
  transition: 0.2s;
}
@media only screen and (max-width: 425px) {
  .hero-button a {
    width: 100%;
    margin: 4px 0;
  }
}
.hero-button .ghost-btn {
  border: 1px solid white;
  background-color: transparent;
}
.hero-button .ghost-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.hero-nav {
  padding: 0;
}
.talent-sourcing {
  background: #f7f7f7;
  height: 400px;
}
.post-job {
  background: lightcyan;
  height: 400px;
}
.intro-active {
  display: block;
  transition: 0.5s;
}
.intro-hidden {
  display: none;
  transition: 0.5s;
}
.intro-video {
  background: white;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 769px) {
  .intro-video {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 425px) {
  .intro-video {
    margin: 20px 0;
  }
}
.customer {
  padding-top: 100px;
  height: 350px;
}
@media only screen and (max-width: 425px) {
  .customer {
    padding-top: 40px;
  }
}
.customer h1 {
  font-weight: 400;
  padding-bottom: 60px;
}
.no-padding {
  padding: 0;
}
#demo_img {
  width: 100%;
  cursor: pointer;
}
.content-wrapper {
  padding: 40px 10px;
  color: #212121;
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .content-wrapper {
    padding-top: 12px;
  }
}
.content-wrapper h2 {
  font-size: 28px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 425px) {
  .content-wrapper h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
.content-wrapper p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
  color: #9e9e9e;
}
.content-wrapper .demo-btn {
  width: 100%;
  background-color: #642891;
  font-size: 16px;
  border: none;
  border-radius: 0;
  height: 40px;
  padding: 0 32px;
  margin-bottom: 4px;
}
.content-wrapper .demo-btn:hover {
  background-color: rgba(100, 40, 145, 0.87);
  color: #fff;
  transition: 0.2s;
}
.content-wrapper .demo-btn:focus,
.content-wrapper .demo-btn:active {
  border: none;
}
.float-buy {
  background: #46C054;
  font-size: 16px;
  border: none;
  border-radius: 0;
  height: 50px;
  padding: 0 40px;
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 100;
  display: none;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.float-buy:hover {
  background-color: #369d42;
  color: #fff;
  transition: 0.2s;
}
.how-it-works {
  color: #212121;
  background: white;
  margin: 0 -15px 0 -15px;
  padding-bottom: 40px;
}
.how-it-works .container {
  padding: 80px 0 0 0;
}
@media only screen and (max-width: 425px) {
  .how-it-works .container {
    padding-top: 20px;
    margin: 0 15px;
  }
}
.how-it-works .container h1 {
  font-weight: 400;
  padding-bottom: 20px;
}
@media only screen and (max-width: 425px) {
  .how-it-works .container h1 {
    padding-bottom: 0;
    font-size: 35px !important;
    font-weight: 300;
  }
}
.how-it-works .container h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding: 20px 0 80px 0;
  color: #757575;
}
@media only screen and (max-width: 425px) {
  .how-it-works .container h2 {
    padding: 0 15px;
    font-size: 16px;
  }
}
.how-it-works .row {
  padding-top: 40px;
}
.how-it-works .row .how-it-works__benefit {
  margin-bottom: 60px;
}
@media only screen and (max-width: 425px) {
  .how-it-works .row .how-it-works__benefit {
    margin: 0 15px 20px 15px;
  }
}
.how-it-works .row .how-it-works__benefit img {
  display: block;
  margin: auto;
}
.how-it-works .row .how-it-works__benefit h3 {
  color: #212121;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  line-height: 24px;
}
.how-it-works .row .how-it-works__benefit p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9e9e9e;
}
.carousel-inner .item p {
  font-weight: 300;
}
.carousel-inner .item .quote-content {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 425px) {
  .carousel-inner .item .quote-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}
.carousel-inner .item .quote-bottom {
  font-size: 20px;
}
@media only screen and (max-width: 425px) {
  .carousel-inner .item .quote-bottom {
    font-size: 14px;
  }
}
.tech-demo {
  margin: 0 -15px 0 -15px;
  background-image: url("../img/bg-demo.png");
  background-size: 100%;
  background-attachment: fixed;
  padding-left: 15px;
}
.tech-demo .container-fluid {
  padding: 80px 0 0 0;
}
@media only screen and (max-width: 425px) {
  .tech-demo .container-fluid {
    margin: 0 15px;
  }
}
.tech-demo .container-fluid .row {
  margin-right: 0;
}
.tech-demo .container-fluid p {
  font-weight: 300;
  padding-bottom: 40px;
  font-size: 20px;
}
@media only screen and (max-width: 425px) {
  .tech-demo .container-fluid p {
    font-size: 20px;
  }
}
.tech-demo .container-fluid .modal-demo-form {
  padding: 0 100px;
}
@media only screen and (max-width: 1024px) {
  .tech-demo .container-fluid .modal-demo-form {
    padding: 0;
  }
}
@media only screen and (max-width: 425px) {
  .tech-demo .container-fluid .modal-demo-form {
    padding: 0;
  }
}
.tech-demo .container-fluid .modal-demo-form form {
  padding: 6px 0;
}
.tech-demo .container-fluid .modal-demo-form .form-inline {
  display: flex !important;
}
.tech-demo .container-fluid .modal-demo-form .form-group {
  border: 1px solid rgba(0, 0, 0, 0.26);
  margin: 8px;
  flex-grow: 1;
}
.tech-demo .container-fluid .modal-demo-form button {
  width: 100%;
  height: 50px;
  margin-bottom: 100px;
}
.pricing-table {
  margin: 0 0px 0 -15px;
  background: #f7f7f7;
}
.pricing-table .container {
  padding: 80px 0 0 0;
  /* Common styles */
}
@media only screen and (max-width: 425px) {
  .pricing-table .container {
    padding-top: 20px;
    padding: 20px 15px 10px 15px;
  }
}
.pricing-table .container h1 {
  font-weight: 400;
}
.pricing-table .container p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding: 40px 80px;
  color: #212121;
}
@media only screen and (max-width: 425px) {
  .pricing-table .container p {
    font-size: 16px;
    padding: 0 5px;
  }
}
.pricing-table .container #pricing {
  margin: 80px auto;
  margin-left: 80px;
}
@media only screen and (max-width: 990px) {
  .pricing-table .container #pricing {
    margin-left: 125px;
  }
}
@media only screen and (max-width: 425px) {
  .pricing-table .container #pricing {
    margin: auto 15px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 425px) {
  .pricing-table .container .promotional {
    width: 100%;
    margin-bottom: 12px;
  }
}
.pricing-table .container .desktop {
  display: inline-block;
}
@media only screen and (max-width: 425px) {
  .pricing-table .container .desktop {
    display: none;
  }
}
.pricing-table .container .mobile {
  display: none;
}
@media only screen and (max-width: 425px) {
  .pricing-table .container .mobile {
    display: inline-block;
  }
}
.pricing-table .container .price_card {
  width: 250px;
  background: #ffffff;
  display: inline-block;
  margin-bottom: 10px;
  top: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 425px) {
  .pricing-table .container .price_card {
    width: 100%;
    margin-bottom: 12px;
  }
}
.pricing-table .container .price_card:not(:last-child) {
  margin-right: 8px;
}
.pricing-table .container .header {
  color: #ffffff;
}
.pricing-table .container .low .header {
  background: #21b9f2;
}
.pricing-table .container .mid .header {
  background: #00aff0;
}
.pricing-table .container .high .header {
  background: #009ed8;
}
.pricing-table .container .price {
  width: 100%;
  font-size: 60px;
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 30px 0 10px;
}
.pricing-table .container .name {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 0 0 30px;
}
.pricing-table .container .features {
  list-style: none;
  text-align: center;
  color: #8a8a8a;
  margin: 0;
  padding: 0;
}
.pricing-table .container .features li {
  margin: 0 35px;
  padding: 20px 15px;
  color: #3FAD4C;
}
.pricing-table .container button {
  color: #ffffff;
  border: 0;
  border-radius: 0px;
  height: 40px;
  width: 200px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin: 20px auto 35px;
  background: #46C054;
}
.pricing-table .container button:hover {
  background: rgba(70, 192, 84, 0.87);
}
.source {
  padding-top: 0 !important;
  margin-top: -100px;
}
@media only screen and (max-width: 500px) {
  .source {
    margin-top: 0px;
  }
}
.source P {
  font-size: 12px !important;
}
.datas {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  opacity: 0.8;
  position: relative;
  top: 120px;
  left: 460px;
}
.datas .info1 {
  animation-delay: 4s;
}
.datas .info2 {
  animation-delay: 6s;
}
.demo-label {
  color: #00aff0;
  font-size: 14px;
  font-weight: 400;
  float: right;
  line-height: 24px;
  cursor: pointer;
}
.side-text {
  background: url("../img/modalbg.png") no-repeat;
  background-size: cover;
  height: 500px;
}
@media only screen and (max-width: 998px) {
  .side-text {
    display: none;
  }
}
.side-text h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}
.side-text .monster-logo-w {
  width: 60%;
  margin: auto;
  display: block;
  padding: 60px 0 20px 0;
}
.side-text p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
.modal-top-title {
  padding: 0;
  background: #f7f7f7;
}
.modal-top-title h4 {
  padding: 20px 20px;
  text-align: center;
}
.modal-top-title button {
  padding: 0 12px;
}
#requested {
  width: 1000px;
  margin: 100px auto;
}
@media only screen and (max-width: 999px) {
  #requested {
    width: 90% !important;
  }
}
@media only screen and (max-width: 425px) {
  #requested {
    width: 90%;
  }
}
.modal-demo-form {
  padding: 0 60px;
}
@media only screen and (max-width: 425px) {
  .modal-demo-form {
    padding: 4px;
  }
}
@media only screen and (max-width: 999px) {
  .modal-demo-form {
    padding: 20px;
  }
}
.modal-demo-form .form-inline {
  display: flex !important;
}
.modal-demo-form select {
  margin-left: 8px;
  width: 95%;
  color: #9b9ea7;
}
.modal-demo-form .form-group {
  background-color: #fff;
  min-height: 40px;
  color: #9b9ea7;
  margin: 0 8px 8px 0;
  flex-grow: 1;
}
.modal-demo-form .form-group:last-child {
  margin: 0 0 8px 0;
}
.modal-demo-form .form-control {
  border-radius: 0;
  border: 0 none;
  height: 50px;
  font-size: 14px;
  font-family: Larsseit, sans-serif;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-demo-form .form-control:focus {
  border-color: #00aff0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-demo-form .form-group > .radio,
.modal-demo-form .form-group > .checkbox {
  padding-top: 1em;
}
.modal-demo-form label.optional {
  display: inline-block;
  color: #f9bdbf;
  margin-right: 1em;
  padding-left: 15px;
}
.modal-demo-form button {
  background: #642891;
  font-size: 16px;
  border: none;
  border-radius: 0;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  padding: 0px 40px;
}
.modal-demo-form button:hover {
  background-color: rgba(100, 40, 145, 0.87);
  color: #fff;
  transition: 0.2s;
}
.progress___bars {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}
@media (max-width: 425px) {
  .progress___bars {
    display: none;
  }
}
.progress___bars li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 24px;
}
.progress___bars li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e0e0e0;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}
.progress___bars li:after {
  content: '';
  position: absolute;
  display: block;
  background: #e0e0e0;
  width: 100%;
  height: 1px;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em \9;
  z-index: 0;
}
.progress___bars > li:last-child:after {
  display: none;
}
